:root {
    --main-color: black;
    --color-primary: #f3b182;
    --color-bg: rgba(255, 248, 238, 0.522);
}

[dark] {
    --main-color: black;
    --color-primary: black;
    --color-bg: rgb(104, 103, 103);
}

* {
    box-sizing: border-box;
  }
  

body {
    padding: 0;
    margin: 0;
    font-size: 1.6rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--main-color);
  }


.container {
    max-width: 1280px;  
    margin: 0 auto;
  }

a {
    text-decoration: none;
}

ul, li {
    display: block;
    padding: 0;
    margin: 0;
}

h1, h2, p {
    padding: 0;
    margin: 0;
}

.header {
    
    background-color: var(--color-bg);
    
}
 

.header_wrapper {
    padding: 10px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
    
}

.nav_list {
    display: flex;
    align-items: center;
}

.item {
    font-size: 20px;
    line-height: 24px;
    margin-right: 35px;
    cursor: pointer;
    border-bottom: 3px solid transparent;
}


.item:hover {
    border-bottom-color: var(--main-color);
    transition: all 1s ease;
}

.nav_link,
.tel,
.email_link {
    color: var(--color-primary);
}

.nav_link:hover {
    color: var(--main-color);
    transition: all 1s ease;
}

.header_title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: var(--color-primary);
    line-height: 35.2px;
    font-size: 32px;
    letter-spacing: 0.06em;

}


.header_subtitle { 
    font-size: 15px;
    line-height: 15px;
    padding-top: 10px;
    letter-spacing: 0.1em;
    color: var(--main-color);
    text-align: center;
}


/* Каталог */

.catalog {
    background-color: var(--color-bg);
    margin-top: 60px;
    padding-bottom: 60px;
}

.catalog_icon img {
    display: block;
    margin: auto;
}
.catalog_icon figcaption {
    text-align: center;
    color: var(--main-color);
    font-size: 20px;
    line-height: 23px;
    font-family: Georgia;
    padding-top: 30px;
    
}

    
.column {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 350px;
    align-content: space-between;
    justify-content: space-around;
}



.wrapper_footer {
    padding: 40px;
    padding-bottom: 0;
    display: flex;
    justify-content: space-between;
    
}


.questions,
.wait {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.cat_footer {
    width: 320px;
    height: 270px;
     
}



.email {
    padding-right: 27px;
    padding-bottom: 40px;
}

.questions,
.wait {
    padding-top: 16px;
    padding-right: 160px;
    padding-bottom: 20px;
}

.questions h2,
.wait h2,
.catalog_title {
    font-size: 35px;
    line-height: 45.5px;
    color: var(--main-color);
    letter-spacing: 0.06em;
    font-weight: 400;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.catalog_title {
    text-align: center;
}

.questions h2 {
    margin-bottom: 40px;
}

.wait h2 {
    
    margin-right: 29px;
    margin-bottom: 34px;
}


.questions p,
.wait p {
    
    color: var(--color-primary);
    font-size: 20px;
    font-weight: 400;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 23px;    
}

.tel {
    margin-top: 4px;
    margin-right: 39px; 
}

.adress_1 {
margin-bottom: 32px;

}

/* Кнопка вверх */

.go-top {
    position: fixed; 
    right: 20px; 
    top: 90%; 
    transform: translateY(-50%); 
    cursor: pointer; 
    display: none; 
   
  }
  

  /* Модификатор для отображения кнопки вверх */
  .go-top--show {
    display: block;
  }
  .cat_btn {
    width: 50px;
    height: 50px;
  }

 
/* Кнопка "купить" и всплывающее окно */

button[name="button_buy"],
input[name="button_buy"] { 
    
    border-radius: 7px;
    padding: 10px 25px;
    background: var(--color-bg);
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--main-color);
  }

  button[name="button_buy"]:hover { 
    background: var(--color-primary);
  } 

  
